body{

background-color: rgb(170, 134, 17);
margin: 0;
 padding: 0;
 display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;



}


.container{

  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
 height: 300px;

}



.btn-outline-secondary{

  background-color:rgb(202, 157, 10); /* Success color */
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;

} 


.btn-outline-secondary:hover {

  background-color: rgb(139, 109, 9); /* Darker shade of success color */
}