body{

background-color: rgb(170, 134, 17);
margin: 0;
 padding: 0;
 display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;



}


.container{

  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;

}